<div class="ui basic modal b-modal-create js-modal-create">
	<i class="close icon"></i>

	<div class="header">
		Новая доска
	</div>
	<div class="content">
		<div class="description">
			<div class="ui inverted segment">
				<form name="CreatingBoard" novalidate
				      class="ui inverted form"
				      ng-submit="SaveBoard($event)">
					<div class="field"
					     ng-class="CreatingBoard.boardName.$invalid && CreatingBoard.boardName.$dirty ? 'ng-dirty ng-invalid' : ''">
						<label>Название</label>
						<input type="text"
						       ng-class="CreatingBoard.boardName.$invalid ? 'error' : ''"
						       name="boardName"
						       placeholder="Название"
						       min="3"
						       max="16384"
						       ng-model="boardName"
						       required>
					</div>
					<div class="ui error message" ng-show="CreatingBoard.boardName.$error.required">
						<div class="header">Ошибка</div>
						<p>Название таблицы не может быть меньше 1 символа</p>
					</div>
					<!--<div class="field">
						<div class="ui checkbox">
							<input type="checkbox" name="standart" ng-model="standart" tabindex="0" class="hidden">
							<label>Стандартная доска</label>
						</div>
					</div>-->
					<button class="ui button" type="submit">Создать</button>
				</form>
			</div>
		</div>
	</div>
	<div class="actions">
		<div class="two fluid ui inverted buttons">
			<div class="ui red basic inverted button">
				<i class="remove icon"></i>
				Отмена
			</div>
		</div>
	</div>
</div>
<div class="ui right floated basic green button js-button-create" ng-click="CreateBoard($event)">
	<i class="icon user"></i>
	Создать
</div>
