<div class="ui basic modal b-modal-create js-modal-create">
	<i class="close icon"></i>
	<div class="header">
		Archive Old Messages
	</div>
	<div class="image content">
		<div class="image">
			<i class="archive icon"></i>
		</div>
		<div class="description">
			<p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p>
		</div>
	</div>
	<div class="actions">
		<div class="two fluid ui inverted buttons">
			<div class="ui red basic inverted button">
				<i class="remove icon"></i>
				No
			</div>
			<div class="ui green basic inverted button" ng-click="SaveBoard($event)">
				<i class="checkmark icon"></i>
				Сохранить
			</div>
		</div>
	</div>
</div>
