<div class="ui grid container b-boards">
	<div class="row">
		<!--<div ui-view="create"></div>-->
		<a ui-sref="boards-create" class="ui right floated basic green button js-button-create">
			<i class="icon user"></i>
			Создать
		</a>

	</div>
	<div class="row">
		<div class="ui cards">
			<a class="ui card"
			   ng-class="board.prefs.background"
			   ui-sref="/:board({board: board.shortLink})"
			   ng-repeat="board in boards" ng-if="!board.closed || showClosed">
				<div class="content">
					<div class="header">{{board.name}}</div>
					<div class="meta">
						<span class="category"></span>
					</div>
					<div class="description">
						<p>{{board.desc}}</p>
					</div>
				</div>
				<!--<div class="extra content">
					<div class="right floated author"></div>
				</div>-->
			</a>
		</div>

	</div>
</div>
