<div class="row">
    <div class="col s4">
        <div class="row">
            {{#each model as |list|}}
                <div class="col s12">
                    {{#md-card title=list.name
                    titleClass="orange-text"
                    id=list.id}}
                        {{#md-card-content}}
                            {{list.desc}}
                        {{/md-card-content}}

                        {{#md-card-action}}
                            <a href="boards/{{list.idBoard}}/list/{{list.id}}">Октрыть</a>
                        {{/md-card-action}}
                    {{/md-card}}
                </div>
            {{/each}}
        </div>
    </div>
</div>
